.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 30vh auto;
}
.submitBtn {
  margin-top: 20px;
}